.container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    gap: 100px;
    padding-bottom: 150px;
}

.container_select {
    display: grid;
    padding-top: 100px;
    padding-bottom: 20px;
    justify-content: center;
    /* grid-row: 1/2; */
    grid-template-columns: auto auto auto auto;
    gap: 100px;
}

.link {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px 40px;
    background-color: #9EF9FF;
    border-radius: 30px;
    color: black;
    justify-content: center;
    align-items: start;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 15px;
}

.select {
    color: #9EF9FF;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
    background-color: #333;
    font-size: 20px;
}

.select_title {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}

@media only screen and (max-width: 600px) {
    .container {
        grid-template-columns: auto;
        gap: 20px;
        padding: 30px;
        padding-bottom: 150px;
    }

    .container_select {
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto auto auto;
        gap: 10px;
    }

    /* .link {
        word-spacing: 0;
        letter-spacing: 0;
    } */
}